In [ ]:
# Name:Naveen
# Id:190031094
# Skill_8

In [1]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt

from sklearn.naive_bayes import GaussianNB
from sklearn.preprocessing import LabelEncoder
from sklearn.model_selection import train_test_split
from sklearn.metrics import accuracy_score

In [2]:
'''
Reading play_tennis.csv data set from kaggle.com
'''

'\nReading play_tennis.csv data set from kaggle.com\n'

In [3]:
data = pd.read_csv("play_tennis.csv")
data

    day   outlook  temp humidity    wind play
0    D1     Sunny   Hot     High    Weak   No
1    D2     Sunny   Hot     High  Strong   No
2    D3  Overcast   Hot     High    Weak  Yes
3    D4      Rain  Mild     High    Weak  Yes
4    D5      Rain  Cool   Normal    Weak  Yes
5    D6      Rain  Cool   Normal  Strong   No
6    D7  Overcast  Cool   Normal  Strong  Yes
7    D8     Sunny  Mild     High    Weak   No
8    D9     Sunny  Cool   Normal    Weak  Yes
9   D10      Rain  Mild   Normal    Weak  Yes
10  D11     Sunny  Mild   Normal  Strong  Yes
11  D12  Overcast  Mild     High  Strong  Yes
12  D13  Overcast   Hot   Normal    Weak  Yes
13  D14      Rain  Mild     High  Strong   No

In [4]:
data.head()

  day   outlook  temp humidity    wind play
0  D1     Sunny   Hot     High    Weak   No
1  D2     Sunny   Hot     High  Strong   No
2  D3  Overcast   Hot     High    Weak  Yes
3  D4      Rain  Mild     High    Weak  Yes
4  D5      Rain  Cool   Normal    Weak  Yes

In [5]:
# Encoding Features
'''
Coneverting categorical data into numerical data
'''

'\nConeverting categorical data into numerical data\n'

In [6]:
number = LabelEncoder()
data['outlook'] = number.fit_transform(data['outlook'])
data['temp'] = number.fit_transform(data['temp'])
data['humidity'] = number.fit_transform(data['humidity'])
data['wind'] = number.fit_transform(data['wind'])
data['play'] = number.fit_transform(data['play'])

In [7]:
print(data.head())

  day  outlook  temp  humidity  wind  play
0  D1        2     1         0     1     0
1  D2        2     1         0     0     0
2  D3        0     1         0     1     1
3  D4        1     2         0     1     1
4  D5        1     0         1     1     1

In [8]:
'''
Defining features and target class variables
'''

'\nDefining features and target class variables\n'

In [9]:
features = ["outlook","temp","humidity","wind"]
target = "play"

In [10]:
'''
Dividing data into training and testing data sets
'''

'\nDividing data into training and testing data sets\n'

In [11]:
features_train, features_test, target_train, target_test = train_test_split(data[features], data[target], 
                                                                            test_size=0.33, random_state=54)

In [12]:
data[target]

0     0
1     0
2     1
3     1
4     1
5     0
6     1
7     0
8     1
9     1
10    1
11    1
12    1
13    0
Name: play, dtype: int32

In [13]:
print(target_test)

4     1
12    1
9     1
3     1
13    0
Name: play, dtype: int32

In [14]:
'''
There are three types of Naive Bayes model under the scikit-learn library :
1. Gaussian    : used for classification & assumes that features follow normal distribution
2. Multinomial : used for discrete counts
3. Bernoulli   : It is a binomial model(0's & 1's). used if feature vectors are binary
'''

"\nThere are three types of Naive Bayes model under the scikit-learn library :\n1. Gaussian    : used for classification & assumes that features follow normal distribution\n2. Multinomial : used for discrete counts\n3. Bernoulli   : It is a binomial model(0's & 1's). used if feature vectors are binary\n"

In [15]:
# Generating Model
'''
==> Creating Naive Bayes Classifier
==> Fit the data set on Classifier
'''
# We can use GaussianNB instead of writing all the mathematical formula's

'\n==> Creating Naive Bayes Classifier\n==> Fit the data set on Classifier\n'

In [16]:
model = GaussianNB()
model.fit(features_train, target_train)
GaussianNB(priors=None, var_smoothing=1e-09)

GaussianNB()

In [17]:
# Testing the Naive Bayes Classifier Model

In [18]:
print(model.get_params())

{'priors': None, 'var_smoothing': 1e-09}

In [19]:
# Checking the accuracy of the model - 80%

In [20]:
pred = model.predict(features_test)
accuracy = accuracy_score(target_test, pred)
print(accuracy)

0.8

In [21]:
model.predict_proba(features_test)

array([[1.37124777e-01, 8.62875223e-01],
       [4.02044587e-04, 9.99597955e-01],
       [1.37124777e-01, 8.62875223e-01],
       [4.77670162e-01, 5.22329838e-01],
       [3.76121016e-01, 6.23878984e-01]])

In [22]:
'''
Predicting for single instance where ['outlook','temp','humidity','wind'] = ['rain','mild','high','weak']
'''

"\nPredicting for single instance where ['outlook','temp','humidity','wind'] = ['rain','mild','high','weak']\n"

In [23]:
print(model.predict([[1,2,0,1]]))

[1]

In [24]:
print(model.predict([[0,0,0,1]]))

[1]